.order-calendar {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 4%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-container {
  margin-bottom: 20px;
}

.selected {
  background-color: #007bff;
  color: white;
}

.event-marked {
  background-color: #ffc107;
  color: black;
}

.order-list table {
  width: 100%;
  border-collapse: collapse;
}

.order-list th,
.order-list td {
  padding: 8px;
  border: 1px solid #ddd;
}

.order-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.order-list td {
  text-align: left;
}

.order-list tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Tablets */
@media screen and (max-width: 1200px) {
  .order-list th,
  .order-list td {
    padding: 5px;
    font-size: 12px;
  }

  .order-list table {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .order-calendar {
    margin-top: 7%;
    margin-left: 20%;
  }
  .order-calendar h1 {
    margin-left: -212px;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .calendar-container {
    width: 100%;
    padding: 0;
    margin-left: -42px; /* Adjusted margin */
  }

  .order-list th,
  .order-list td {
    padding: 5px;
    font-size: 12px;
  }

  .order-list table {
    font-size: 12px;
  }

  .order-list tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

@media screen and (min-width: 350px) and (max-width: 450px) {
  .order-calendar h1 {
    margin-left: -63px; /* Adjusted margin */
  }
  .calendar-container {
    margin-left: -42px; /* Adjusted margin */
  }
  .order-list {
    margin-left: -89px; /* Adjusted margin */
  }
}
